:root {
  --dark-background: #242a35;
  --light-background: #faf8f4;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-placeholder {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*------------- Header --------------*/

.header {
  background-color: #171f31;
  min-width: 100vh;
  min-height: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-left: 1em;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-right: 1em;
  margin-left: auto;
}

.header-text {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.3em;
}

.header-small-text {
  font-size: 1em; 
  margin: 0.3em;
}

.transition-section {
  margin-top: -5px;
  margin-bottom: -5px;
  min-height: 10vh;
}

.stack-inner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/*------------- Lang Cloud ---------------*/
.langs-section { 
  /* min-width: 100vh; */
  position: relative;
  color: white;
  font-size: 2em;
  min-height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-image: radial-gradient(circle at center, #434a57 0% 10vmin, var(--dark-background) 50vmin 100%);
  /* text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black; */
}

.langs-section h3 {
  position: absolute;
  transform: translate(-50%, -50%);
}

/*------------- ToL ---------------*/

.tol-intro {
  background-color: #191d24;
  padding: 3em;
  white-space: nowrap;
}

.tol-intro h1 {
  display: inline-flex;
  color: white;
  font-size: 8em;
  font-weight: bold;
  margin: 0;
  margin-right: 0.2em;
}

.tol-intro p {
  display: inline-flex;
  color: rgb(192, 192, 192);
  font-size: 1.5em;
  margin: 0;
  white-space: normal;
  max-width: 60%;
  vertical-align: middle;
  text-align: initial;
}

.tol-intro h3 {
  color: rgb(223, 223, 223);
  font-weight: normal;
  font-size: 1.5em;
}

.tol-snippets {
  background-color: var(--dark-background);
}

.tol-snippets p {
  color: white;
  font-size: 1.2em;
  max-width: 60%;
  margin: auto;
  padding-top: 1.5em;
}

.tol-snippets p code {
  background-color: #191d24;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #15161a;
  white-space: nowrap;
}

.tol-snippet {
  padding-top: 3em;
  padding-bottom: 3em;
}

.tol-setup {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 50em;
  height: 10em;
  resize: none;
  background-color: #0e121d;
  color: whitesmoke;
  border-radius: 0.5em;
  border: 2px solid #516187;
  box-shadow: 0px 0px 15px -1px black;
  caret-color: whitesmoke;
  margin-bottom: 0.5em;
}


.tol-setup textarea:focus {
  outline: none;
}

.tol-setup textarea::-webkit-scrollbar {
  width: 0.5em;
}

.tol-setup textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  padding: 5px;
}

.tol-setup textarea::-webkit-scrollbar-thumb {
  background-color: rgb(42, 44, 51);
  /* outline: 1px solid rgb(17, 17, 17); */
  border-radius: 10vw;
  margin: 5px;
  width: 80%;
}

.tol-repl {
  width: 90%;
  max-width: 50em;
  margin: auto;
  justify-content: space-between;
  display: flex;
}

.tol-expr {
  position: relative;
  width: 40%;
  height: 1.5em;
  resize: none;
  background-color: #0e121d;
  color: whitesmoke;
  border-radius: 0.5em;
  border: 2px solid #516187;
  box-shadow: 0px 0px 15px -1px black;
  caret-color: whitesmoke;
}

.tol-expr input:focus {
  outline: none;
}

.tol-result {
  width: 25%;
  height: 1.5rem;
  background-color: #0e121d;
  color: whitesmoke;
  border-radius: 0.5em;
  border: 2px solid #516187;
  box-shadow: 0px 0px 15px -1px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tol-type {
  width: 25%;
  height: 1.5rem;
  background-color: #0e121d;
  color: whitesmoke;
  border-radius: 0.5em;
  border: 2px solid #516187;
  box-shadow: 0px 0px 15px -1px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tol-error {
  width: 50%;
  height: 1.5em;
  background-color: #0e121d;
  color: whitesmoke;
  border-radius: 0.5em;
  border: 2px solid #441d1d;
  box-shadow: 0px 0px 15px -1px black;
}

.tol-submit {
  width: 2em;
  background-color: #08580c;
  color: whitesmoke;
  border-radius: 0.5em;
  border: 2px solid #043107;
  box-shadow: 0px 0px 15px -1px black;
}

.tol-submit:hover {
  background-color: #0e7c0e;
}

.tol-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  padding: 0.2em;
  -moz-tab-size : 4;
  -o-tab-size : 4;
     tab-size : 4;
}

textarea,
input
pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

.tol-syntax-keyword {
  color: #33adff;
}

.tol-syntax-string {
  color: #ff9d33;
}

.tol-syntax-comment {
  color: #085819;
}

.tol-syntax-number {
  color: #9cc498;
}

.tol-syntax-identifier {
  color: #aeb7b9;
}