.aboutme-section { 
  /* min-width: 100vh; */
  min-height: 100vh;
  padding-top: 5vh;
  background-color: var(--light-background);
}

.aboutme-port {
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  position: relative;
}

.aboutme-nav {
  top: 9em;
  position: absolute;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  pointer-events: none;
}

.aboutme-nav div {
  flex: 1;
  height: 100%;
  pointer-events: none;
}

.aboutme-scene {
  position: relative;
  transform-style: preserve-3d;
}

.aboutme-logo {
  position: absolute;
  background-image: url("logo.svg");
  background-size: 60% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  filter: invert(100%);
  transform: perspective(5000px) translate3d(0, 0, -2000px);
}


.aboutme-plane {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-image: radial-gradient(circle at center, #434a57 0%, #ffffff00 40% );
  transform-origin: center;
  transform: perspective(5000px)  translate3d(0, 500px, -2000px) rotate3d(1, 0, 0, 85deg) scale(2.2);
}

.aboutme-slider {
  position: relative;
  white-space: nowrap;
  height: 90vh;
  min-width: 100%;
  transform-style: preserve-3d;
  transition: ease 2.0s;
}

.aboutme-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}

.aboutme-panel {
  height: 100%;
  max-width: 150vh;
  width: 75%;
  margin: 0 auto;
  border-radius: 5%;
  /* border: 10px solid; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform-style: preserve-3d;
  box-shadow: inset 0px 0px 20px 20px rgb(255 255 255 / 18%)
}

.aboutme-panel-div {
  transform: translate3d(0, 0, 1px);
  max-width: 100%;
  max-height: 100%;
  padding: 4em;
  color: white;
  text-wrap: pretty;
  font-family: 'Roboto', sans-serif;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: 0px 0px 10px black;
  background-image: radial-gradient(circle at center, #00000044 0%, #ffffff00 40% );
}
.aboutme-panel-div h1 {
  font-size: 2.5em;
}
.aboutme-panel-div p {
  font-size: 1.75em;
  line-height: 2.75vw;
}

.aboutme-panel-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, -1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  filter: opacity(0.2) invert(100%) blur(1px);
}

.aboutme-pic {
  float: left;
  overflow: hidden;
  width: 30vh;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../public/img/cliff.jpg");
  background-size: cover;
  background-position: 40%;
  margin: 1em;
}

.aboutme-text-section {
  display: flex;
  justify-content: space-around;
  margin-top: -6vw;
}

.aboutme-text {
  max-width: 40%;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10vh;
}