.aboutme-section { 
  /* min-width: 100vh; */
  min-height: 100vh;
  padding-top: 5vh;
  background-color: var(--light-background);
}

.aboutme-pic {
  border-radius: 50%;
  overflow: hidden;
  width: 30vh;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../public/img/cliff.jpg");
  background-size: cover;
  background-position: 40%;
}

.aboutme-text-section {
  display: flex;
  justify-content: space-around;
  margin-top: -6vw;
}

.aboutme-text {
  max-width: 40%;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10vh;
}