.showcase-section {
    background-color: var(--dark-background);
    min-width: 100vh;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .slideshow-port {
    margin: 0 auto;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
  }
  
  .slideshow-slider {
    white-space: nowrap;
    min-width: 100%;
    height: 400px;
    transition: ease 1.0s;
  }
  
  .slideshow-slide {
    display: inline-grid;
    height: 400px;
    width: 100%;
  }
  
  .slideshow-slide-image {
    grid-row: 1;
    grid-column: 1;
    box-shadow: 
      inset 0 100px 100px -100px #242a35,
      inset 0 -100px 100px -100px #242a35;
    background-position: center;
    background-size: 100% auto;
    height: 100%;
    transition: ease 0.5s;
    cursor: pointer;
  }
  
  .slideshow-slide-image:hover {
    background-size: 110% auto;
    filter:blur(5px);
  }
  
  .slideshow-slide-text {
    grid-row: 1;
    grid-column: 1;
    pointer-events: none;
    z-index: 10;
    background-color: #181b22a2;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .slideshow-slide-text h1 {
    margin-left: 5%;
    margin-bottom: 0px;
  }
  
  .slideshow-slide-text p {
    margin-left: 7%;
    white-space: pre-wrap;
    text-align: left;
  }
  
  .slideshow-dots {
    text-align: center;
  }
  
  .slideshow-dot {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #8f8f8f;
  }
  
  .slideshow-dot-active {
    background-color: #fff;
  }